.cart-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
        display: flex;
        flex-direction: column;

        h1 {
            text-align: center;
        }

        .cart-icon {
            position: relative;
            display: flex;
            justify-content: center;
            height: 175px;
            padding-bottom: 25px;
    
            img {
                padding-top: 10px;
                height: 100%;
            }
        
            .total-quantity {
                display: inline-block;
                position: absolute;
                top: 65px;
    
                border-radius: 3.235801032000001em;
                background: #F6C155;
                color: black;
                padding: .38198205906665em .618046971569839em;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
            }
        }
    
        .items {
            tbody tr {
                padding: 200px;
                border-bottom: 1px solid black;
            }
        }
    }

    .bottom {
        border-top: 1px solid black;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        table {
            width: 95%;
            padding: 5px;

            * {
                font-size: 22px;
            }

            .value {
                text-align: right;
                
            }
        }

        .checkout {
            background: #EEC268;
            width: 98%;
            height: 50px;
            margin: 5px;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;      
        }
    }
}

.quantity {
    
    input {
        text-align: center;
        font-size: 16px;
        width: 30px;

    }
    
}

.remove {
    color: red;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}